* {
   box-sizing: border-box;
}

img {
   max-width: 100%;
   height: auto;
   border: 5px dotted yellow
}
body {
  margin: 0;
  font-family: "Helvetica", Calibri, Arial, sans-serif;
  line-height: 2.0;
  font-size: 20px;
}

.banner {
	overflow: hidden;
	background-color: purple;
	border-bottom: 1px dotted yellow;
	padding: 0em;
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
}

.banner h1 {
	margin: 0;
	text-align: center;
}


@media (min-width: 768px) {
	body {
		background-color: #EC1B7D;
		font-size: 100%;
	}
	.content-wrapper {
		overflow: auto;
	    max-width: 2000px;
	    margin: 5px;
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-areas: "banner banner"
							 "main sidebar"
							 "footer footer";
	}
	main {
		grid-area: main;
		padding: 20px;
		margin-top: 20px;

	}

	.sidebar {
		grid-area: sidebar;
		padding: 30px;
		background-color: blue;
	}
	.banner {
		grid-area: banner;
	}
	.site-footer {
		grid-area: footer;
	}
	.clear {
	   clear: both;
	}
}
	.container {
		display: flex;
		justify-content: space-evenly;
}
.site-footer {
	float: left;
	min-height: 1em;
	background-color: orange;
	border-top: 1px solid green;
	width: 100%;
	padding: 10px;
	border-right: 1px solid #EC901B;
}